{% extends './admin/base.html.twig' %}

{% block title %}Modification d'un dispositif de formation{% endblock %}

{% block body %}
    <h1>Modification d'un dispositif de formation</h1>

    {{ include('admin/training_measure/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-secondary" role="button" href="{{ path('admin_training_measure_index') }}">Retour</a>

    {{ include('admin/training_measure/_delete_form.html.twig') }}
{% endblock %}
