{% extends 'base.html.twig' %}

{% block title %} Formations
{% endblock %}

{% block body %}
{# epace #}

<body>
  <section id="intro-formation">
    <div class="titre-formation">Nos formations </div>
  </section>
  <section id="bloc-dispositif">
     <div class="titre-dispositif"> Les différents dispositifs </div>
     <span class="texte-dispositif"> 
        <p> Vous pouvez exprimer votre besoin de formation lors de l'entretien de formation (CREP) réalisé annuellement entre l'agent et son supérieur hiérarchique direct. Cet entretien vous permettra de demander à acquérir de nouvelles compétences afin d’orienter votre parcours professionnel. </p>
        <p> Vous pouvez aussi être sollicité par l’administration pour développer des compétences nécessaires à l’exercice de vos fonctions. </p>
        <p><B> En savoir plus : </B><a style="color:black" href="{{ path('ressource')}}">Page ressources réglementaires </a></p>
      </span>
      <div class="centered">
            <section class="cards-dispositif">     
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                 <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                 <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                 <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
                 <article class="card-dispositif">
                      <span class="texte-base">Le droit de formation</span>
                      <span class="texte-hover">
                        <p> - Assurer son retour ou maintien dans l’emploi </p>
                        <p> - Évoluer dans sa carrière professionnelle </p>
                        <p> - Acquisition de nouvelles compétences et diplômes </p>
                        <p> - Entamer une reconversion professionnelle vers un autre métier. </p>
                      </span>
                </article>
          </section>
          </section>
          <div class="en-savoir-plus"> 
            <p > Pour en savoir plus :</p>
            <p> Décret n° 2017-1135 relatif à la VAE  Livret de recevabilité    Notice d'utilisation    Catalogue certifications MinArm  </p>
          </div>
          <section id="catalogue-formation">
            <div class="titre-formation">Le catalogue de formation</div>
            <div class="recherche-formation">
              <mat-card _ngcontent-tvq-c220="" class="mat-card mat-focus-indicator cpf-card"><mat-card-content _ngcontent-tvq-c220="" class="mat-card-content"><form _ngcontent-tvq-c220="" novalidate="" fxlayout="column" fxlayout.gt-xs="row" fxlayoutgap="16px" class="cpf-form ng-untouched ng-pristine ng-valid" style="flex-direction: row; box-sizing: border-box; display: flex;"><mat-form-field _ngcontent-tvq-c220="" fxflex="" appearance="fill" class="mat-form-field ng-tns-c82-2 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label ng-untouched ng-pristine ng-valid mat-form-field-should-float" style="margin-right: 16px; flex: 1 1 0%; box-sizing: border-box;"><div class="mat-form-field-wrapper ng-tns-c82-2"><div class="mat-form-field-flex ng-tns-c82-2"><!----><div class="mat-form-field-prefix ng-tns-c82-2 ng-star-inserted"><mat-icon _ngcontent-tvq-c220="" role="img" matprefix="" class="mat-icon notranslate material-icons mat-icon-no-color ng-tns-c82-2" aria-hidden="true" data-mat-icon-type="font">search</mat-icon></div><!----><div class="mat-form-field-infix ng-tns-c82-2"><input _ngcontent-tvq-c220="" matinput="" type="text" formcontrolname="quoiReferentiel" class="mat-input-element mat-form-field-autofill-control mat-autocomplete-trigger ng-tns-c82-2 ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored" id="mat-input-0" aria-invalid="false" aria-required="false" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"><!----><mat-autocomplete _ngcontent-tvq-c220="" class="ng-tns-c82-2"><!----></mat-autocomplete><span class="mat-form-field-label-wrapper ng-tns-c82-2"><label class="mat-form-field-label ng-tns-c82-2 ng-star-inserted" id="mat-form-field-label-1" for="mat-input-0" aria-owns="mat-input-0"><!----><mat-label _ngcontent-tvq-c220="" class="ng-tns-c82-2 ng-star-inserted">Formation, métier, compétences</mat-label><!----><!----></label><!----></span></div><div class="mat-form-field-suffix ng-tns-c82-2 ng-star-inserted"><mcf-reset-button _ngcontent-tvq-c220="" matsuffix="" class="ng-tns-c82-2"><button id="spec-reset" mat-button="" mat-icon-button="" type="button" class="mat-focus-indicator mat-button mat-icon-button mat-button-base ng-star-inserted" aria-label="form-field.reset"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">clear</mat-icon></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></button><!----></mcf-reset-button></div><!----></div><div class="mat-form-field-underline ng-tns-c82-2 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c82-2"></span></div><!----><div class="mat-form-field-subscript-wrapper ng-tns-c82-2"><!----><div class="mat-form-field-hint-wrapper ng-tns-c82-2 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!----><div class="mat-form-field-hint-spacer ng-tns-c82-2"></div></div><!----></div></div></mat-form-field><mat-form-field _ngcontent-tvq-c220="" fxflexalign.lt-sm="center center" class="mat-form-field ng-tns-c82-3 mat-primary mat-form-field-type-cpf-auxiliary-input-mat-button-toggle-group mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder ng-untouched ng-pristine ng-valid" style="margin-right: 16px;"><div class="mat-form-field-wrapper ng-tns-c82-3"><div class="mat-form-field-flex ng-tns-c82-3"><!----><!----><div class="mat-form-field-infix ng-tns-c82-3"><mat-button-toggle-group _ngcontent-tvq-c220="" role="group" cpfauxiliaryinput="" formcontrolname="modality" class="mat-button-toggle-group mcf-button-toggle-group ng-tns-c82-3 ng-untouched ng-pristine ng-valid mat-button-toggle-group-appearance-standard" aria-label="Modalité de formation" aria-disabled="false" id="cpf-auxiliary-input-0" aria-describedby=""><mat-button-toggle _ngcontent-tvq-c220="" role="presentation" class="mat-button-toggle mat-button-toggle-checked mat-button-toggle-appearance-standard ng-star-inserted" id="mat-button-toggle-1"><button type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-1-button" tabindex="0" aria-pressed="true" name="mat-button-toggle-group-0"><span class="mat-button-toggle-label-content"> Formation en centre </span></button><span class="mat-button-toggle-focus-overlay"></span><span matripple="" class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle><mat-button-toggle _ngcontent-tvq-c220="" role="presentation" class="mat-button-toggle mat-button-toggle-appearance-standard ng-star-inserted" id="mat-button-toggle-2"><button type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-2-button" tabindex="0" aria-pressed="false" name="mat-button-toggle-group-0"><span class="mat-button-toggle-label-content"> Formation à distance </span></button><span class="mat-button-toggle-focus-overlay"></span><span matripple="" class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle><!----></mat-button-toggle-group><span class="mat-form-field-label-wrapper ng-tns-c82-3"><!----></span></div><!----></div><div class="mat-form-field-underline ng-tns-c82-3 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c82-3"></span></div><!----><div class="mat-form-field-subscript-wrapper ng-tns-c82-3"><!----><div class="mat-form-field-hint-wrapper ng-tns-c82-3 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!----><div class="mat-form-field-hint-spacer ng-tns-c82-3"></div></div><!----></div></div></mat-form-field><mat-form-field _ngcontent-tvq-c220="" fxflex="" appearance="fill" class="mat-form-field ng-tns-c82-6 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label ng-untouched ng-pristine ng-valid ng-star-inserted mat-form-field-should-float" style="flex: 1 1 0%; box-sizing: border-box; margin-right: 16px;"><div class="mat-form-field-wrapper ng-tns-c82-6"><div class="mat-form-field-flex ng-tns-c82-6"><!----><div class="mat-form-field-prefix ng-tns-c82-6 ng-star-inserted"><mat-icon _ngcontent-tvq-c220="" role="img" matprefix="" class="mat-icon notranslate material-icons mat-icon-no-color ng-tns-c82-6" aria-hidden="true" data-mat-icon-type="font">location_on</mat-icon></div><!----><div class="mat-form-field-infix ng-tns-c82-6"><input _ngcontent-tvq-c220="" matinput="" type="text" formcontrolname="ville" class="mat-input-element mat-form-field-autofill-control mat-autocomplete-trigger ng-tns-c82-6 ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored" id="mat-input-1" aria-invalid="false" aria-required="false" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"><!----><mat-autocomplete _ngcontent-tvq-c220="" class="ng-tns-c82-6"><!----></mat-autocomplete><span class="mat-form-field-label-wrapper ng-tns-c82-6"><label class="mat-form-field-label ng-tns-c82-6 ng-star-inserted" id="mat-form-field-label-5" for="mat-input-1" aria-owns="mat-input-1"><!----><mat-label _ngcontent-tvq-c220="" class="ng-tns-c82-6 ng-star-inserted">Localisation</mat-label><!----><!----></label><!----></span></div><div class="mat-form-field-suffix ng-tns-c82-6 ng-star-inserted"><mcf-reset-button _ngcontent-tvq-c220="" matsuffix="" class="ng-tns-c82-6"><button id="spec-reset" mat-button="" mat-icon-button="" type="button" class="mat-focus-indicator mat-button mat-icon-button mat-button-base ng-star-inserted" aria-label="form-field.reset"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">clear</mat-icon></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></button><!----></mcf-reset-button></div><!----></div><div class="mat-form-field-underline ng-tns-c82-6 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c82-6"></span></div><!----><div class="mat-form-field-subscript-wrapper ng-tns-c82-6"><!----><div class="mat-form-field-hint-wrapper ng-tns-c82-6 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!----><div class="mat-form-field-hint-spacer ng-tns-c82-6"></div></div><!----></div></div></mat-form-field><!----><!----><div _ngcontent-tvq-c220="" class="submit-button-container"><button _ngcontent-tvq-c220="" mat-mini-fab="" type="submit" color="primary" fxhide.lt-sm="" class="mat-focus-indicator cpf-button mat-mini-fab mat-button-base mat-primary" aria-label="Rechercher"><span class="mat-button-wrapper"><mat-icon _ngcontent-tvq-c220="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">search</mat-icon></span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></button><!----><button _ngcontent-tvq-c220="" mat-button="" type="submit" color="primary" fxhide.gt-xs="" class="mat-focus-indicator cpf-button fixed mat-button mat-button-base mat-primary" aria-label="Rechercher" style="display: none;"><span class="mat-button-wrapper"><mat-icon _ngcontent-tvq-c220="" role="img" class="mat-icon notranslate cpf-text-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">search</mat-icon> Rechercher </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button><!----></div></form></mat-card-content></mat-card>
          </div>
          </section>
          <div class="plus-info">
          <span class="texte-plus-info">Besoin de plus d'information ?</span>
          <form class="email-plus-info" method="post" action="#">
            <input type="email" placehoder="Entrer votre mail" rows="1" cols="30" name="message"></input>
            <input type="submit">
          </form>
          </div>

    {% include 'navigation/footer.html.twig' %}
</body>
</html>

{% endblock %}