{% extends 'base.html.twig' %}

{% block title %} Ressources Réglementaires
{% endblock %}

{% block body %}
{# epace #}

<body>
  <section id="intro-formation">
    <div class="titre-formation"> Ressources Réglementaires </div>
  </section>

    <div id="conteneur">
        <div class="element">
            <h4> Décret-cadre sur la formation : </h4>
            <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/ " target="_blank">https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/</a>
        </div>
        <div class="element">
              <h4> Frais de déplacement en formation : </h4>
            <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/ " target="_blank">https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/</a>
        </div>
        <div class="element">
             <h4> CPF : </h4>
            <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/ " target="_blank">https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000469540/</a>
        </div>
    </div>

    {% include 'navigation/footer.html.twig' %}
</body>
</html>

{% endblock %}