{% extends './admin/base.html.twig' %}

{% block title %}Modification d'une formation{% endblock %}

{% block body %}
    <h1>Modification d'une formation</h1>

    {{ include('admin/formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('admin_formation_index') }}" role="button">Retour</a>

    {{ include('admin/formation/_delete_form.html.twig') }}
{% endblock %}
