{% extends './admin/base.html.twig' %}

{% block title %}Ajout d'une formation{% endblock %}

{% block body %}
    <h1>Ajout d'une formation</h1>

    {{ include('admin/formation/_form.html.twig') }}

    <a class="btn btn-secondary" role="button" href="{{ path('admin_formation_index') }}">Retour</a>
{% endblock %}
