{% extends './admin/base.html.twig' %}

{% block title %}Modification d'un responsable de formation{% endblock %}

{% block body %}
    <h1>Modification d'un responsable de formation</h1>

    {{ include('admin/training_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" role="button" href="{{ path('admin_training_manager_index') }}">Retour</a>

    {{ include('admin/training_manager/_delete_form.html.twig') }}
{% endblock %}
