{% extends 'base.html.twig' %}

{% block title %} Aide en ligne
{% endblock %}

{% block body %}
{# epace #}

<body>
  <div class="aide-en-ligne">
    <img src="{{ asset(/images/BOT1.png) }}" alt="ChatBot" />
    <p>Bonjour, je suis KeyBot je suis à votre disposition pour vous orienter et vous aider dans votre parcours professionnel</p>
  </div>
</body>
</html>


{% endblock %}