{% extends './admin/base.html.twig' %}

{% block title %}Ajout d'une équipe{% endblock %}

{% block body %}
    <h1>Ajout d'une équipe</h1>

    {{ include('admin/team/_form.html.twig') }}

    <a class="btn btn-secondary" role="button" href="{{ path('admin_team_index') }}">Retour</a>
{% endblock %}
