
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@import "./_components/select";
@import "./_components/switch";
@import "./_components/forms";